#!/usr/bin/env python
PACKAGE = "asl_turtlebot"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("k1",       double_t,    0, "Pose Controller k1", 0.8,  0., 2.0)
gen.add("k2",       double_t,    0, "Pose Controller k2", 0.4,  0., 2.0)
gen.add("k3",       double_t,    0, "Pose Controller k3", 0.4,  0., 2.0)

gen.add("roadblock_dist", int,   0, "Dist to roadblock", 5, 1, 100)
gen.add("roadblock_thick", int,  0, "Roadblock thickness", 10, 1, 100)
gen.add("roadblock_width", int,  0, "Width of roadblock", 20, 10, 100)

exit(gen.generate(PACKAGE, "navigator", "Navigator"))
